.form-control {
  color: #333;
}

.form-control.focus,
.form-control:focus {
  border-color: #5a0000;
}

.roles .page-content .form-edit-add .panel-body {
  font-size: 0px;
}

.roles .page-content .form-edit-add .panel-body label {
  color: #5B6670;
  font-size: 16px;
  padding-left: 10px;
}

.roles .page-content .form-edit-add .panel-body label[for=permission] {
  padding-bottom: 7px;
}

.roles .page-content .panel-body a.permission-select-all {
  border: 1px solid #5a0000;
  border-radius: 6px;
  padding: 7px 31px;
  color: #5a0000;
  font-size: 12px;
  box-shadow: 0px 1px 3px rgba(91, 102, 112, 0.15);
  width: 30px;
  height: 120px;
  margin-right: 20px;
}

.roles .page-content .panel-body a.permission-deselect-all {
  border: 1px solid rgba(91, 102, 112, 0.4);
  border-radius: 6px;
  padding: 7px 31px;
  color: rgba(91, 102, 112, 0.4);
  font-size: 12px;
  box-shadow: 0px 1px 3px rgba(91, 102, 112, 0.15);
  width: 30px;
  height: 120px;
  margin-right: 20px;
}

.roles .page-content .panel-body ul.permissions {
  margin-top: 22px;
}

.roles .page-content .panel-body ul.permissions ul li label {
  font-size: 14px !important;
}

.users li.select2-results__option:nth-child(2) {
  display: none;
}

.users .select2-dropdown.select2-dropdown--below .select2-search--dropdown,
.users .select2-dropdown.select2-dropdown--above .select2-search--dropdown {
  display: none;
}

.users .select2-dropdown.select2-dropdown--above {
  border: none;
}

.voyager .side-menu .navbar-header {
  background: #1a1a27;
  border-color: #1a1a27;
}

.voyager .side-menu .panel.widget {
  display: none;
}

.voyager .side-menu.sidebar-inverse {
  background: #1e1e2d;
}

.voyager .side-menu.sidebar-inverse .navbar li > a {
  color: #FFFFFF;
}

.voyager .side-menu.sidebar-inverse .navbar li > a img {
  width: 20px;
  margin-left: 10px;
  margin-right: 6px;
  margin-top: -10px;
}

.voyager .side-menu.sidebar-inverse .navbar li > a:hover {
  color: #FFFFFF;
  background: #13131b;
}

.voyager .side-menu.sidebar-inverse .navbar li > a:hover svg g [fill] {
  fill: #5a0000;
}

.voyager .side-menu.sidebar-inverse .navbar li > a svg {
  margin-left: 10px;
}

.voyager .side-menu.sidebar-inverse .navbar li > a svg g [fill] {
  fill: #ffffff;
}

.voyager .side-menu.sidebar-inverse .navbar li.active > a {
  background: #13131b;
  font-weight: bold;
}

.voyager .side-menu.sidebar-inverse .navbar li.active > a svg g [fill] {
  fill: #5a0000;
}

table.table {
  border: 1px solid #B3B9BD;
  border-collapse: separate;
  border-radius: 6px;
  table-layout: auto;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

table.table.no-footer {
  border-bottom: 1px solid #B3B9BD;
}

table.table th {
  color: #5B6670;
}

table.table th.actions {
  border-top-right-radius: 6px;
}

table.table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

table.table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

table.table td {
  color: #5B6670;
}

.voyager .table > thead > tr > th {
  border: 1px solid #B3B9BD;
  border-left: none;
  background: #EEEFF0;
  padding: 15px 20px;
  color: #5B6670;
  vertical-align: middle;
  min-height: 52px;
}

.voyager .table > thead > tr > th:last-child {
  border-right: none;
  text-align: center !important;
}

.voyager .table > tbody > tr > td {
  border-top: none;
  border-bottom: 1px solid #E6E8EA;
  border-right: 1px solid #E6E8EA;
  padding: 15px 20px;
  color: #5B6670;
  vertical-align: middle;
  white-space: normal;
  max-width: 505px;
}

.voyager .table > tbody > tr > td a.btn {
  border-radius: 6px;
  box-shadow: none;
}

.voyager .table > tbody > tr:last-child > td {
  border-bottom: none;
}

.voyager .table > tbody > tr > td:last-child {
  border-right: none;
}

.voyager .table > tbody > tr td#bread-actions.no-sort.no-click {
  text-align: center;
}

.voyager .table > tbody > tr td#bread-actions.no-sort.no-click .select2-container {
  border: none;
}

.voyager .table > tbody > tr td#bread-actions.no-sort.no-click .select2-container .select2-selection {
  background-color: transparent;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  position: static;
  display: inline;
}

table.table-striped {
  border: 1px solid #B3B9BD;
  border-collapse: separate;
  border-radius: 6px;
  table-layout: auto;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

table.table-striped thead th:first-child {
  border-top-left-radius: 6px;
}

table.table-striped thead th:last-child {
  border-top-right-radius: 6px;
}

table.table-striped tbody tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

table.table-striped tbody tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.dataTables_wrapper .dataTables_filter label {
  margin: 0 0 20px;
}

.dataTables_wrapper .dataTables_filter label:after {
  background-image: url(/assets/images/ico-search.svg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px;
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 10px;
}

.dataTables_wrapper .dataTables_filter label input {
  border: 1px solid #E6E8EA;
  border-radius: 3px;
  width: 432px;
  height: 35px;
  font-size: 14px;
  color: #1a1a27;
  padding: 8px 40px 8px 10px;
}

.dataTables_wrapper .dataTables_filter label input::-webkit-input-placeholder,
.dataTables_wrapper .dataTables_filter label input::-moz-placeholder,
.dataTables_wrapper .dataTables_filter label input:-ms-input-placeholder,
.dataTables_wrapper .dataTables_filter label input::-ms-input-placeholder,
.dataTables_wrapper .dataTables_filter label input::placeholder {
  font-size: 14px;
  color: #B3B9BD;
}

.dataTables_wrapper .dataTables_info {
  color: #1a1a27;
  font-weight: normal;
  font-size: 16px;
  padding-top: 0;
  margin-top: 27px;
  float: left;
  display: inline-block;
  width: 30%;
}

.dataTables_wrapper .dataTables_paginate {
  padding-top: 0;
  margin-top: 27px;
  float: none;
  text-align: center;
  display: inline-block;
  width: 40%;
}

.dataTables_wrapper .dataTables_paginate ul.pagination {
  margin: 0;
}

.dataTables_wrapper .dataTables_paginate ul.pagination > .disabled > span {
  color: #5B6670;
  border: none;
  padding: 0 10px;
}

.dataTables_wrapper .dataTables_paginate ul li.first a:before,
.dataTables_wrapper .dataTables_paginate ul li.last a:after {
  top: 0;
}

.dataTables_wrapper .dataTables_paginate ul li.previous > a,
.dataTables_wrapper .dataTables_paginate ul li.next > a {
  color: transparent;
  padding: 0;
  border-radius: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
  width: 28px;
  height: 28px;
}

.dataTables_wrapper .dataTables_paginate ul li.previous a:before {
  top: 0;
  margin-top: 2px;
  margin-left: -5px;
  color: #5a0000;
}

.dataTables_wrapper .dataTables_paginate ul li.next a:after {
  top: 0;
  margin-top: 2px;
  margin-left: -5px;
  color: #5a0000;
}

.dataTables_wrapper .dataTables_paginate ul li.disabled a:before,
.dataTables_wrapper .dataTables_paginate ul li.disabled a:after {
  color: #B3B9BD;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background-color: transparent;
  background: none;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #1a1a27;
  background: none;
  border: none;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item:first-child .page-link {
  padding: 0;
  border-radius: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
  width: 28px;
  height: 28px;
  border: none;
  font-size: 18px;
  margin-top: -4px;
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item:last-child .page-link {
  padding: 0;
  border-radius: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
  width: 28px;
  height: 28px;
  border: none;
  font-size: 18px;
  margin-top: -4px;
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item.active .page-link {
  padding: 0 4px;
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item.active .page-link:hover {
  padding: 0 4px;
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item .page-link:hover {
  background-color: #FFFFFF;
}

.dataTables_wrapper .dataTables_length {
  float: right;
  margin-top: 27px;
  display: inline-block;
  width: 30%;
  text-align: right;
  color: #1a1a27;
}

.dataTables_wrapper .dataTables_length label {
  font-weight: normal;
  font-size: 16px;
}

.dataTables_wrapper .dataTables_length select {
  border: none;
  color: #1a1a27;
  font-size: 16px;
  padding: 0 6px;
  line-height: 1.6;
  height: 23px;
  width: 50px !important;
  margin-bottom: 3.5px;
  margin-left: 4px;
  margin-right: 4px;
  background-image: url(/assets/images/arrow-down-black.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.voyager .pagination .active > a {
  background-color: transparent;
  border-color: transparent;
  color: #1a1a27;
  font-size: 16px;
  font-weight: normal;
  border-bottom: 2px solid #5a0000;
  padding: 0 4px;
  margin: 0 8px;
  line-height: 1.2;
}

.voyager .pagination .active > a:focus,
.voyager .pagination .active > a:hover {
  background-color: transparent;
  border-color: transparent;
  color: #1a1a27;
  font-size: 16px;
  font-weight: normal;
  border-bottom: 2px solid #5a0000;
  padding: 0 4px;
  margin: 0 8px;
  line-height: 1.2;
}

.voyager .pagination .active > span:focus,
.voyager .pagination .active > span:hover {
  background-color: transparent;
  border-color: transparent;
  color: #1a1a27;
  font-size: 16px;
  font-weight: normal;
  border-bottom: 2px solid #5a0000;
  padding: 0;
  margin: 0 8px;
  line-height: 1.2;
}

.voyager .pagination .active span {
  background-color: transparent;
  border-color: transparent;
  color: #1a1a27;
  font-size: 16px;
  font-weight: normal;
  border-bottom: 2px solid #5a0000;
  padding: 0;
  margin: 0 8px;
  line-height: 1.2;
}

.voyager .pagination > li > a {
  color: #5B6670;
  padding: 0;
  margin: 0 8px;
  border: none;
  font-size: 16px;
  font-weight: normal;
}

.hamburger {
  padding: 15px 30px 40px 20px;
}

.hamburger.is-active svg:nth-child(2) {
  display: none;
}

.hamburger.is-active svg:nth-child(1) {
  display: block;
}

.hamburger svg:nth-child(1) {
  display: none;
}

.hamburger svg:nth-child(2) {
  display: block;
}

svg:hover path {
  cursor: pointer;
  fill: #5a0000;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 10px;
  left: 94%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 15px;
  top: 1.35em;
}

.dropdown-menu.show li.dropdown-item {
  padding: 10px;
}

.dropdown-menu.show li.dropdown-item a {
  padding: 0;
}

@media (max-width: 992px) {
  .navbar .dropdown-menu {
    width: 100%;
  }

  .dropdown-submenu .dropdown-menu {
    top: 100%;
    left: 0;
  }
}

.select2-container--default .select2-selection--single {
  padding-bottom: 30px;
}

.select2-container--default .select2-selection--single:focus {
  border-color: #5a0000;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #5a0000;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  background-image: url(/assets/images/arrow-down-color.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  width: 16px;
  height: 14px;
  margin-top: -7px;
  right: 0;
  left: auto;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #FFFFFF;
  border: 1px solid #5a0000;
  border-radius: 4px;
  color: #5a0000;
  font-size: 14px;
  position: relative;
  padding: 0 25px 0 15px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
  color: transparent;
  position: absolute;
  right: 5px;
  background-image: url(/assets/images/ico-close-red.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 8px;
}

.select2-container--default.select2-container--open .select2-dropdown--below {
  box-shadow: none;
}

.select2-container--default .select2-results > .select2-results__options {
  border-radius: 6px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
}

.select2-container--default .select2-results__option {
  color: #5B6670;
}

.select2-container--default .select2-results__option[aria-selected] {
  padding: 8px 10px 8px 15px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #F6F7F8;
}

.select2-container--default .select2-results__option img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #F6F7F8;
  color: #5B6670;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #E6E8EA;
  border-radius: 3px;
  margin: 6px 0;
}

ul.radio li:hover .check {
  border: 4px solid #5a0000;
}

input[type=radio]:checked ~ .check {
  border: 4px solid #5a0000;
}

input[type=radio]:checked ~ .check:before {
  background: #5a0000;
}

